// Over here, we are styling our hedaer
.header {
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
}

// Over here, we are styling our Brand which is our Store heading.
.brand {
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
}