<!-- We have changed the hierarchy of our app-header and app-category from the root of our app -->
<!-- to a new module Home. App-header and app-category are now children of our parent Module Home-->

<app-header></app-header>
<app-categorynav></app-categorynav>

<!-- Added this divison in order to make our Sidebar towards the left and to make it compact  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4">
            <app-sidenavigation (subCategoryClicked)='onSelectSubCategory($event)'></app-sidenavigation>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <app-products></app-products>
        </div>
    </div>
</div>