
// Adding these so that we can avoid repition of style code
// There are classes which are being styled same lines of code, we are trying to remove that.
$search-bar-background-color: #dadada;
$search-bar-height: 2.5em;
$search-bar-border: none;


// Over here, we are styling our hedaer
.header {
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
    overflow: hidden;
}

// Over here, we are styling our Brand which is our Store heading.
.brand {
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
}

// Over here, we are styling our search box.
.search-box {
    width: 75%;
    height: $search-bar-height;
    display: inline-block;
    border: $search-bar-border;
}

// Over here, we are styling our search button.
.search-button {
    width: 10%;
    height: $search-bar-height;
    border: $search-bar-border;
    background-color: $search-bar-background-color;
}

// Over here, we are styling our dropdown menu.
.dropdown {
    text-align: center;
    width: 15%;
    height: $search-bar-height;
    border: $search-bar-border;
    background-color: $search-bar-background-color;
    font-weight: 600;
}

// Overe here, we are stying our Login and Register container
.login-container {
    color: white;
    display: inline-block;
    width: 15%;
    text-align: right;
    margin: 1.7em 0.2em 0 0;

    h5 {
        display: inline-block;
        a{
            text-decoration: none;
            color: white;
        }
    }

    .user-icon {
        margin-right: 0.4em;
        padding: 0.2em;
        font-size: 1.3em;
    }
}

// Over here, we have the styling for our wishlist and shopping cart area
.cart-wishlist {
    width: 8%;
    margin-top: 1.7em;
    margin-left: 1em;

    .list-item {
        color: white;
        list-style-type: none;
        display: inline-block;
        font-size: 1.3em;
        margin-right: 0.5em;
    }
}
