<div class="header bg-dark">
    <div class = "row">
        <!-- brnad is a custom CSS class whereas my-1 is a bootstrap class to add margin on y-axis -->
        <div class="brand my-1">
            <h1>Angular eStore</h1>
        </div>

        <!-- 'p-0' to remove padding from all sides, 'my-4' to set top and bottom margin to $spacer x 1.5 -->
        <!-- 'w-50' width 50%, 'h-25' to set height to 50% -->
        <div class = 'p-0 my-4 w-50 h-25 bg-white'>
            <!-- Creation of our Dropdown menu -->
            <select class = 'dropdown p-0 m-0'>
                 <!-- We have added Async pipe -->
                <!-- Async pipe will automatically subscribe to the observable topLevelCategories -->
                <!-- and it unsubscribes from it when the component gets destroyed -->
                <option *ngFor='let category of categoryStore.topLevelCategories$ | async '>
                {{category.category}}</option>
            </select>
            <input class="form-control search-box" placeholder="Search..."/>
            <button class="search-button"><fa-icon [icon] = "faSearch"></fa-icon></button>
        </div>

        <!-- Addition of our login container which contains our buttons for login and register -->
        <div class="login-container p-0">
            <fa-icon class="user-icon" [icon] = "faUserCircle"></fa-icon>
            <h5><a href="#">Sign in</a></h5> / <h5><a href="#">Register</a></h5>
        </div>

        <!-- Addition of our Wishlist and Shopping Cart  -->
        <div class = 'cart-wishlist'>
            <ul class = 'p-0'>
                <!-- Wishlist Heart Icon -->
                <li class="list-item">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </li>
                <!-- Shopping Cart Item -->
                <li class = 'list-item'>
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                </li>
            </ul>
        </div>

    </div>
</div>